
@{
	ViewData["Title"] = "Commands";
}
<h2 class="text-center">Commands</h2>

<div>
	<h4>Supported figures:</h4>
	<ul>
		<li>Circle</li>
		<li>Square</li>
		<li>Rectangle</li>
		<li>Oval</li>
		<li>Isosceles Triangle</li>
		<li>Equilateral Triangle</li>
		<li>Scalene Triangle</li>
		<li>Pentagon</li> @*5*@
		<li>Hexagon</li> @*6*@
		<li>Heptagon</li>
		<li>Octagon</li>
		<li>Parallelogram</li>
	</ul>

</div>
<div>
	<h4>Format of the command:</h4>
	<p>Allowed format: Draw a(n) &lt;shape&gt; with a(n) &lt;measurement&gt; of &lt;amount&gt; (and a(n) &lt;measurement&gt; of &lt;amount&gt;)</p>
</div>

<div>
	<h4>Examples of commands:</h4>
	<ul>
		<li>Draw a circle with a radius of 100  </li>
		<li>Draw a square with a side length of 200  </li>
		<li>Draw a rectangle with a width of 250 and a height of 400</li>
		<li>Draw an oval with an x-axis radius of 50 and a y-axis radius of 170</li>
		<li>Draw an isosceles triangle with a height of 200 and a width of 100</li>
		<li>Draw an equilateral triangle with a side length of 170</li>
		<li>Draw a scalene triangle with a first side length of 500 and a second side length of 300 and an angle of 60 degrees</li>
		<li>Draw a pentagon with a side length of 200 </li>
		<li>Draw a hexagon with a side length of 150 </li>
		<li>Draw a heptagon with a side length of 120 </li>
		<li>Draw an octagon with a side length of 100 </li>
		<li>Draw a parallelogram with a width of 250 and a height of 150 and an angle of 30 degrees.</li>
	</ul>
</div>


